footer {
    position: relative;
    width: 100%;
    height: 170px;
    background: #464547;
}

.footer_logo {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 85.63px;
    top: 19px;
}

.tiny_logo {
    position: absolute;
    left: 0;
    top: 0;
}

aside {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 36px;
    top: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_info {
    position: absolute;
    width: 243px;
    height: 75px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
    left: 80.63px;
    top: 51px;
    margin: 0;
}