main {
    position: relative;
    width: 100%;
    height: 700px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #EEEEEE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_h2 {
    position: absolute;
    margin: 0;
    width: 669px;
    height: 119px;
    top: 87px;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 133%;
    text-align: center;
    color: #464547;
}

h3 {
    position: absolute;
    margin: 0;
    top: 246px;
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
}

#main_h3 {
    color: #666666;
}

article {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 194px;
    top: 351px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 138%;
    text-align: center;
    color: #000000;
}

.content-button {
    width: 115px;
    height: 36px;
    border-radius: 18px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #55C2D8;
    border: 0;
}

#content-button {
    position: absolute;
    margin: 0;
    top: 566px;
}