section.hero {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3.svg);
    background-size: cover;
}

.hero_block {
    position: absolute;
    width: 426px;
    height: 292px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_logo {
    position: absolute;
    top: 0;
}

h1 {
    position: absolute;
    top: 43.84px;
    width: 386px;
    height: 118px;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 133%;
    text-align: center;
    color: #FFFFFF;
}

#hero_block_content { 
    position: absolute;
    bottom: -19.92px;
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFFB2;
}