.learn-more {
    position: relative;
    width: 100%;
    height: 666px;
    background-image: url(../assets/images/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.learn-more_block {
    position: relative;
    width: 480px;
    height: 492px;
    top: 84px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn-more_h2 {
    position: absolute;
    margin: 0;
    width: 480px;
    height: 117px;
    top: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 133%;
    text-align: center;
    color: #FFFFFF;
}

.learn-more_button {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 170px;
    background: #39C2D7;
    border-radius: 50%;
}

.play-button {
    position: absolute;
    width: 70px;
    height: 55px;
    top: 47px;
    left: 40px;
    color: #FFFFFF;
    border: 0;
    background-color: transparent;
    text-align: right;
    font-size: 55px;
}

#learn-more_h3 {
    position: absolute;
    color: #FFFFFF;
    width: 390px;
    height: 102px;
    top: 390px;
}